<div>
  <!--
  Written to use signals, zone change detection is below
  -->
  <button type="button" (click)="onSelectUser()">
    <!-- Property binding on src attribute -->
    <img alt="avatar of user" [src]="imagePath" />
    <!-- String Interpolation between the <span> element -->
    <span>{{name}}</span>
  </button>
  <!--
  This second section is the whole same thing as above, but using zone not signals
  -->
  <!-- Add an event listener using the () -->
  <!-- <button type="button" (click)="onSelectUser()"> -->
    <!-- Property binding on src attribute -->
    <!-- Getter is not written with () -->
    <!-- <img alt="avatar of user" [src]="imagePath" />    -->
    <!-- String Interpolation between the <span> element -->
    <!-- <span>{{ selectedUsers.name }}</span> -->
  <!-- </button> -->
</div>
